@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform-origin: center center;
  animation: spinner 1.5s linear infinite;
}
